<table class="table is-bordered is-fullwidth">
    <tbody>
            <tr>
                <figure class="image is-128x128">
                    <img src="http://ddragon.leagueoflegends.com/cdn/{{apiVersion}}/img/champion/{{champion.id}}.png">
                </figure>
            </tr>
            <tr>
                <th>Name</th>
                <td><strong>{{champion.name}}</strong> {{champion.title}}</td>
            </tr>
            <tr>
                <th>HP</th>
                <td>{{champion.stats.hp}}</td>
            </tr>
    </tbody>
</table>
