{{!-- <section class="hero is-black is">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                {{champion.name}}
            </h1>
            <h2 class="subtitle">
                {{champion.title}}
            </h2>
        </div>
    </div>
</section> --}}

{{!-- <table class="table is-fullwidth">
    <tbody>
            <tr>
                <td class="imageColumn">
                    <figure class="image is-128x128">
                        <img src="http://ddragon.leagueoflegends.com/cdn/{{apiVersion}}/img/champion/{{champion.id}}.png">
                    </figure>
                </td>
                <td class="nameColumn"><strong>{{champion.name}}</strong> {{champion.title}}</td>
            </tr>
    </tbody>
</table> --}}
